/* *************
DEFAULT STYLES - FICTION
************* */

@font-face {
  font-family: FONT_NAME;
  font-style: normal;
  font-weight: normal;
  src: url("../font/FONT_NAME.otf");
}

@font-face {
  font-family: FONT_NAME;
  font-style: normal;
  font-weight: normal;
  src: url("../font/FONT_NAME.otf");
}

/* GENERAL */
@page {
  margin: 1em;
}

body {
  adobe-hyphenate: auto;
  font-family: serif;
  font-variant-numeric: oldstyle-nums;
  hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  orphans: 1;
  widows: 1;
}

h1,h2,h3,h4,h5 {
  adobe-text-layout: optimizespeed;
/* For Nook */
  break-after: avoid;
  break-inside: avoid;
  font-family: sans-serif;
  hyphens: none  !important;
  -epub-hyphens: none;
  -moz-hyphens: none  !important;
  -webkit-hyphens: none  !important;
  margin: 0;
  padding: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  text-indent: 0;
}

p,ul,li {
  font-size: .9rem;
  hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-last: always;
  -ms-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-last: always;
  hyphenate-limit-lines: 3;
  -ms-hyphenate-limit-lines: 3;
  -webkit-hyphenate-limit-lines: 3;
  margin: 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
hr + p,
p.no-indent {
  text-indent: 0;
}

i > i,
em > i,
i > em{
    font-style: normal;
}

/* Body Matter */
p {
  text-indent: 1.2rem;
}

ul,ol {
  font-size: .9rem;
}

a {
  color: #666666  !important;
  font-size: inherit;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #006666;
}

hr {
  border: none;
  margin: 1em 0;
  width: 0;
}

small,
.smallcaps{
  font-size: 0.85em;
  text-transform:uppercase;
}

strong,
.allcaps,
.upper{
  font-weight: normal;
  text-transform: uppercase;
}

/* Design cheats */
.sb {
	margin-top: 1em;
}
.center{
	text-align:center;
	text-indent:0;
}
.texting{
	font-family: sans-serif;
	font-size:.9em;
	font-weight:bold;
}

/* Headings */
h1{
	font-family: serif;
	font-size: 2.5em;
	font-weight: normal;
	margin: 10% 0 2em;
}

.chapter-title{
	font-family: sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	margin: 10% 0 2em;
  text-align:left;
	/* text-transform: uppercase; */
}

.front-back{
	font-family: sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	margin: 10% 0 2em;
  text-align: center;
	/* text-transform: uppercase; */
}

/* Adjust the heading size for very small screens, such as iPhone (~375px width) */
@media (max-width: 375px) {
  h1.front-back,
  h1.chapter-title {
      font-size: 120%; /* Smaller font size for small viewports */    hyphens: auto !important;
      -epub-hyphens: auto;
      -moz-hyphens: auto !important;
      -webkit-hyphens: auto !important;
      word-break: break-word; /* Add this */
      overflow-wrap: break-word; /* Add this */
  }
}

/* PAGES */

/* digitalrights.xhtml */
section.digitalrights {
	display: block;
	margin: 15% auto;
	max-width: 80%;
}

section.digitalrights p{
	text-indent:0;
	margin-bottom:1em;
}
/* Title Page(s) */

h1.halftitlepage{
	font-family: serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: normal;
	margin: 25% 0 .5em;
}

h1.titlepage{
	font-family: serif;
	font-size: 4em;
	font-style:normal;
	font-weight: normal;
	line-height:1;
	margin: 25% 0 .5em;
	text-align: center;
	/* text-transform:uppercase; */
}

span.subtitle{
	font-size: 1.5rem;
	text-transform:initial;
}

h2.author{
	font-family: sans-serif;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5;
	margin: .5em 0;
	text-align: center;
	text-indent: 0;
}

h2.translator,
h2.illustrator{
	font-family: sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.2;
	margin: 1em 0 2em;
	text-align: center;
	text-indent: 0;
}

span.by{
	display:block;
  font-size: .8em;
	text-transform: initial;
}

p.series{
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	margin: 4em 0 0;
	text-align: center;
	text-indent: 0;
}

/* Copyright */
.copyright {
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.18;
  margin: .5em 2em;
  text-align: center;
  text-indent: 0;
}

/* Dedication */
p.dedication {
  font-family: serif;
  font-size: 1em;
  font-style: italic;
  margin: 10% 0;
  text-align: center;
  text-indent:0;
}

/* About the author*/
section.author{
	margin: 10% 5%;
}

span.author-name{
	font-family: sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
}

/* IMAGES */
/* Cover */
figure.cover-img {
  display: block;
  text-align: center;
}

img.cover-image {
  height: 98%;
  object-fit: contain;
  width: 100%;
}

img.cover-image:only-of-type {
/* overrides the previous setting, but only in newer systems that support CSS3 */
  height: 98vh;
}

@media amzn-kf8 {
/* CSS for KF8 devices */
  img.cover-image:only-of-type {
/* overrides the previous setting, but only in newer systems that support CSS3 */
    height: 98%;
  }
}

@media amzn-mobi {
/* CSS for Mobi devices */
  img.cover-image:only-of-type {
/* overrides the previous setting, but only in newer systems that support CSS3 */
    height: 98%;
  }
}

/* Body Images */

figure {
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  clear: both;
  margin: 1.5rem 0;
  text-align: center;
}
@media amzn-kf8 {
  figure {
    page-break-inside: auto;
    break-inside: auto;
    /* Fix blank bug because of page-break-inside: avoid… */
  }
}

figure.title img {
  width: 10em;
  max-width: 100%;
  /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
  height: auto;
  object-fit: contain;
  vertical-align: bottom;
  /* Remove gap after the image */
}

figure.titlepage img{
	margin: 5% 0 0;
	width: 80%;
}

figure.halftitle img{
  margin-top: 20%;
	width: 60%;
}


figure.full img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: bottom;
}

figure.small {
  clear: both;
  margin: 2rem auto;
  text-align: center;
  width: 50%;
}

figure.small img{
  height: auto;
  max-width: 100%;  
  object-fit: contain;
  vertical-align: bottom;
}

figure.icon img {
  width: 5em;
  max-width: 50%;
  height: auto;
  object-fit: contain;
  vertical-align: bottom;
}

figure.author {
  width: 10em; /* set figure width to 10em */
  margin: 1em auto; /* center figure horizontally */
}

figure.author img {
  width: 100%; /* set image width to 100% of figure width */
  height: auto; /* maintain aspect ratio */
  margin: 0; /* remove any margin */
}

figcaption{
	font-family: serif;
	font-size: .5em;
	text-align: left;
	text-transform: uppercase;
	margin: .5em 0 0;
	display: block; /* make caption a block element */
}

/* CUSTOM CSS */

  